.main-header {
  background: url(../images/cat.jpg) center center no-repeat;
  background-size: cover;
}

.main-header .jumbotron {
  background-color: transparent;
}

.main-header .header-background {
  min-height: 70vh;
}

nav {
  background-color: rgba(125,125,125,0.6);
}

.paw {
  color: rgba(255, 255, 255, 0.8);
}

.active .nav-link .paw {
  color: rgba(255, 153, 153, 1);
}

main.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  background-color: #050708;
}

.card {
  max-width: 960 px;
}

iframe {
  margin: 20px;
  display: block;
  max-width: 560px;
  max-height: 315px;
}

img {
  display: block;
  width: 500px;
}

@media(max-width: 768px) {
  img {
    display: block;
    max-width: 350px;
  }
}